// Fonts 
/////////////////////////////////////////

// font-family
$fontPrimary	: 'Gotham', sans-serif;
$fontSecondary  : 'Roboto', sans-serif;
$fontHeadings   : 'BalooBhaijaan', sans-serif;

// fotn-weight
$thin      : 100;
$light     : 300;
$regular   : 400;
$medium    : 500;
$semiBold  : 600;
$bold      : 700;
$extraBold : 800;
$black     : 900;


// Colors
/////////////////////////////////////////

$colorBase : #000000;

$colorBody : #000000;
$colorPrimary : #F5C1BC;
$colorSecondary : #264066;

$colorMenu : #1A2231;
$colorGeneral : #1A2231;


