@@include('templates/header.html')

		<main class="main site__main e-page">
			<div class="e-page__wrapper">
				<div class="container e-page__container">
					<figure class="e-page__media">
						<img src="images/404/main-image.png" alt="" class="e-page__image">
					</figure>
					<div class="e-page__body">
						<div class="e-page__title"><span> Запрашиваемая</span>страница не найдена</div>
						<div class="e-page__content">
							<a href="front-page.html" class="button-primary">Перейти на главную страницу</a>
							<span class="e-page__message">Возможно был введен некорректный адрес или страница была удалена</span>
						</div>
					</div>
					<div class="e-page__description">
						Для возврата на предыдущую страницу нажмите кнопку "Назад" в своем браузере
					</div>
				</div>
			</div>
		</main>

@@include('templates/footer.html')