/*============================================================================
	#Footer
==============================================================================*/

.footer-nav {

	display: flex;
	justify-content: center;

	&__link {

		text-decoration: none;
		text-transform: uppercase;
		color: white;
		font-size: 14px;
		padding: 0 30px;
		opacity: .5;
		display: block;
		transition: opacity 0.2s ease-out;

		&:hover {

			opacity: 1;
		}
	}
}

.phone-list {

	display: flex;

	&__link {

		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		margin-right: 25px;
		opacity: 0.5;
		transition: opacity 0.2s ease-out;

		&:last-child {

			margin-right: 0;
		}

		&:hover {

			opacity: 1;
		}
	}

	&__icon {

		margin-right: 6px;
	}
}

.socialmedia {

	display: flex;

	&__link {

		display: block;
		margin: 0 10px;
		color: #f5ede6;
		text-decoration: none;
		font-size: 12px;
		opacity: 0.6;
		transition: opacity 0.2s ease-out;

		&:hover {

			opacity: 1;
		}
	}

	&__icon {
		fill: #f5ede6;
	}

	.icon-youtube {

		width: 35px;
		height: 24px;
	}

	.icon-instagram,
	.icon-facebook,
	.icon-telegram {

		width: 24px;
		height: 24px;
	}

	.icon-telegram {

		margin-right: 6px;
	}


}

.footer {

	padding-top: 36px;

	background-repeat: no-repeat;
	background-position: center bottom;
	// background-color: #ccc;
	
	&__container {

		display: flex;
	}

	&__logo {

		flex: 0 0 230px;
		display: flex;
		align-items: center;

		.site-logo {

			opacity: 0.8;
			transition: opacity 0.2s ease-out;
			margin-bottom: 90px;

			&:hover {

				opacity: 1;
			}
		}
		
	}

	&__nav {

		padding: 25px 0;
	}

	&__contacts {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 27px 90px 20px 90px;
		border-top: 1px solid #280315;
		border-bottom: 1px solid #280315;
	}

	&__messenger {

		margin-right: 30px;

		.messengers__item {
			
			opacity: 1;

			&:hover {

				.messengers__icon {

					fill: white;
				}
			}
		}

		.messengers__icon {

			fill: #735f69;
			transition: fill 0.2s ease-out;
		}
	}

	&__messenger,
	&__phone-list {

		margin-bottom: 36px;
	}

	&__email {

		margin-right: 60px;
		display: flex;
		align-items: center;
	}


	&__email-link {

		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		opacity: 0.5;
		font-size: 15px;
		line-height: 18px;
		transition: opacity 0.2s ease-out;

		&:hover {

			opacity: 1;
		}

		._icon {

			fill: white;
			width: 21px;
			height: 16px;
			margin-top: 2px;
			margin-right: 8px;
		}
	}

	&__address-link {

		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		opacity: 0.5;
		font-size: 15px;
		line-height: 18px;
		transition: opacity 0.2s ease-out;

		&:hover {

			opacity: 1;
		}

		._icon {

			height: 26px;
			width: 18px;
			fill: white;
			margin-right: 4px;
		}
	}

	&__socialmedia {

		display: flex;
		padding: 26px 0 22px;
		justify-content: center;
	}

	&__copyrigts {

		padding: 0 0 6px;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		color: white;
		font-size: 12px;
	}

	.copyrigts,
	.privacy-policy,
	.ArtSites {
		opacity: .3;
		color: inherit;
		text-decoration: none;
		transition: opacity 0.2s ease-out;
		letter-spacing: 0.025rem;

		&:hover {

			opacity: 1;
		}
	}

	.copyrigts:hover {

		opacity: .3;
	}

	.privacy-policy {

		text-decoration: underline;
	}

	.ArtSites {
		opacity: 1;
		display: flex;
		align-items: center;

		&__messege {
			margin-right: 8px;
			opacity: .3;
			line-height: 15px;
			transition: opacity 0.2s ease-out;
		}

		&__logo {

			opacity: .6;
			transition: opacity 0.2s ease-out;
		}

		&:hover {

			.ArtSites__logo,
			.ArtSites__messege {

				opacity: 1;
			}
		}
	}

}