/*============================================================================
	#Modals
==============================================================================*/

.mfp-bg {

	background: $colorGeneral;
	opacity: .8;
}

.mfp-close-btn-in .mfp-close {
    color: $colorGeneral;
    top: 92px;
    font-size: 36px;
    right: 4px;
}

.cta-modal {

	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 90px;
	position: relative;

	&__logo {

		margin: o auto;
		text-align: center;
		margin-bottom: -95px;

	}

	&__body {

		background: white;
		border-radius: 32px;
		padding: 123px 40px 40px;
	
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__title {

		font-size: 48px;
		font-weight: normal;
		line-height: 1.4;
		font-family: $fontHeadings;
		color: $colorSecondary;
		margin-bottom: 4px;
	}

	&__text {

		font-size: 24px;
		font-weight: $medium;
		line-height: 1.4;
		color: $colorSecondary;
		margin-bottom: 32px;

		span {

			font-weight: $black;
			background: $colorPrimary;
			padding: 3px 28px;
			border-radius: 8px;
		}
	}

	.button-primary {

		color: white;
		&::after {

			box-shadow: inset 0 0 0 2px white;
		}
	}
}