		<footer class="footer site__footer" >
			<div class="container">
				<div class="footer__inner">
					<div class="footer__logo footer-logo">
						<a href="/" class="footer-logo__link">
							<img class="lazy-image footer-logo__image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/logo-footer.svg" alt="">
						</a>
					</div>
					<div class="footer__menu">
						<nav class="footer__nav">
							<ul class="footer-menu">
								<li><a href="#">Main screen</a></li>
								<li><a href="#">Video teaser</a></li>
								<li><a href="#">Why bloss</a></li>
								<li><a href="#">Testimonial</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</nav>
					</div>
					<div class="footer__contacts footer-contacts">
						<h4 class="footer-contacts__title">Contacts</h4>
						<ul class="footer-contacts__list-items">
							<li class="footer-contacts__item">
								<a class="footer-email" href="mailto:info@bloss.life">info@bloss.life</a>
							</li>
							<li class="footer-contacts__item">
								<div class="social">
									<a class="social__item" href="#">
										<svg class="icon _facebook">
											<use xlink:href="symbol/sprite.svg#icon-facebook"></use>
										</svg>
									</a>
									<a class="social__item" href="#">
										<svg class="icon _instagram">
											<use xlink:href="symbol/sprite.svg#icon-instagram"></use>
										</svg>
									</a>
									<a class="social__item" href="#">
										<svg class="icon _twitter">
											<use xlink:href="symbol/sprite.svg#icon-twitter"></use>
										</svg>
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="footer__subscribe subscribe">
						<div class="subscribe__inner">
							<header class="subscribe__header">
								<div class="subscribe__title">
									Want useful parenting advice and to stay in the loop for when we launch? Sign up here
								</div>
							</header>
							<form class="subscribe-form subscribe__form form">
								<div class="form__row">
									<div class="form__group">
										<input type="text" class="form__input" placeholder="bloss@bloss.life" required>
										<button class="subscribe-form__button button">Send</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

	@@include('modals.html')

	<script src="js/vendor.js"></script>
	<script src="js/index.js"></script>
	</body>

</html>