
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<title>Bloss</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!--== Preload Fonts -->
	<link rel="preload" href="fonts/Gotham-Book.woff2" as="font" type="font/woff" crossorigin="">
	<link rel="preload" href="fonts/BalooBhaijaan-Regular.woff2" as="font" type="font/woff" crossorigin="">
	<link rel="preload" href="fonts/Roboto-Bold.woff2" as="font" type="font/woff" crossorigin="">

	<!--== favicon  -->
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">
	<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#264066">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/index.css">
</head>

<body class="body @@body-class" id="body">
	<div class="site ">

		

		

