<div class="modals site__modals">

	<div id="cta-user-modal" class="cta-modal" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
		<div class="cta-modal__container">
			<div class="cta-modal__logo">
				<img src="images/logo-icon.svg" alt="">
			</div>
			<div class="cta-modal__body">
				<div class="cta-modal__title">
					Sign up FREE today
				</div>
				<div class="cta-modal__text">
					Sign up today and get <br>
					<span>full bloss access</span><br>
					when we launch!
				</div>
				<a href="#" class="button-primary _dark">Fing up for launch!</a>
			</div>
		</div>
	</div>

	<div id="cta-expert-modal" class="cta-modal" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
		<div class="cta-modal__container">
			<div class="cta-modal__logo">
				<img src="images/logo-icon.svg" alt="">
			</div>
			<div class="cta-modal__body">
				<div class="cta-modal__title">
					Sign up FREE today
				</div>
				<div class="cta-modal__text">
					Sign up today and get <br>
					<span>be a bloss expert</span><br>
					when we launch!
				</div>
				<a href="#" class="button-primary _dark">Fing up for launch!</a>
			</div>
		</div>
	</div>

</div>